{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }
</style>
<div class="container-fluid">
    <div id="outprint">
        <!-- Header -->
        <div class="lh-1 text-center">
            <small class="fw-bold">Point de vente</small><br>
            <small class="fw-bold">Reçu non officiel</small>
        </div>
        <hr>

        <!-- Transaction Details -->
        <div class="lh-1">
            <div>
                <span>Date:</span> {{ formatted_date }}<br>
                <span>Code de transaction:</span> {{ transaction.code }}
            </div>
        </div>
        <div class="clear-fix py-3"></div>

        <!-- Sales Items -->
        <div class="lh-1">
            <div class="d-flex w-100 align-items-end border-bottom">
                <div class="col-2 text-center fw-bold">Qté</div>
                <div class="col-3 text-center fw-bold">Produit</div>
                <div class="col-2 text-center fw-bold">Prix U HT</div>

                <div class="col-1 text-center fw-bold">Rem</div>
                <div class="col-1 text-center fw-bold">TVA</div>
                <div class="col-2 text-center fw-bold">Total</div>
            </div>
            {% for item in salesItems %}
            <div class="d-flex w-100 align-items-end">
                <div class="col-2 text-center">{{ item.qty|intcomma|floatformat:0 }}</div>
                <div class="col-3">
                    <div class="lh-1">
                        <small>{{ item.product }}</small><br>
                        {% comment %} <small>TVA: {{ item.taxpercentage|intcomma }}%</small><br> {% endcomment %}
                    </div>
                </div>
                <div class="col-2 text-center">{{ item.price|intcomma }} TND</div>
                <div class="col-1 text-center">{{ item.discount|intcomma }}%</div>
                <div class="col-1 text-center">{{ item.product.taxpercentage|intcomma }} %</div>

                <div class="col-2 text-end">{{ item.total|intcomma }} TND</div>
            </div>
            {% endfor %}
            <hr>

            <!-- Totals -->
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Sous-total HT</div>
                <div class="col-6 text-end fw-bold">{{ transaction.sub_total|intcomma }} TND</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Remise totale</div>
                <div class="col-6 text-end fw-bold">{{ transaction.discount_amount|intcomma }} TND</div>
            </div>
            {% comment %} <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Montant après remise</div>
                <div class="col-6 text-end fw-bold">{{ transaction.sub_total_after_discount|intcomma }} TND</div>
            </div> {% endcomment %}
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">TVA </div>
                <div class="col-6 text-end fw-bold">{{ transaction.tax_amount|intcomma|floatformat:2 }} TND</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Total TTC</div>
                <div class="col-6 text-end fw-bold">{{ transaction.grand_total|intcomma }} TND</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Montant payé</div>
                <div class="col-6 text-end fw-bold">{{ transaction.tendered_amount|intcomma }} TND</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Monnaie rendue</div>
                <div class="col-6 text-end fw-bold">{{ transaction.amount_change |intcomma }} TND</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="clear-fix py-3"></div>

    <!-- Buttons -->
    <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-light bg-gradient border rounded-0 btn-sm me-1" type="button" id="receipt_print">
            <i class="mdi mdi-printer"></i> Imprimer
        </button>
        <button class="btn btn-secondary bg-gradient border rounded-0 btn-sm" type="button" data-bs-dismiss="modal">
            <i class="mdi mdi-close"></i> Fermer
        </button>
    </div>
</div>

<!-- Print Script -->
<script>
    $(function() {
        $('#receipt_print').click(function() {
            var head = $('head').clone();
            var p = $('#outprint').clone();
            var el = $("<div>");

            // Add styles for printing
            head.append('<style>body{background-color:unset !important;}</style>');
            el.append(head);
            el.find('title').text("Reçu - Impression");
            el.append(p);

            // Open a new window for printing
            start_loader();
            var nw = window.open('', '_blank', "width=800,height=800,left=300,top=200");
            nw.document.write(el.html());
            nw.document.close();

            // Print and close the window
            setTimeout(() => {
                nw.print();
                setTimeout(() => {
                    nw.close();
                    end_loader();
                }, 250);
            }, 300);
        });
    });
</script>